<!DOCTYPE html>
<html>
     <iframe src="https://i.simmer.io/@mortheking/~7162d5f6-626e-8bba-392f-20773ea4178b" style="width:1200px;height:600px;border:0"></iframe>
    <head>
        <title>Learn Math game3d</title>
        {{!-- <link rel="icon" hresf=""> --}}
        <link rel="stylesheet" href="/WebGL/css/style.css">
    </head>
    <div>
        <header>
            <h1>to home page press the link below</h1>
            <a href="/">home page</a>
        </header>
    </div>    
</html>