<!DOCTYPE html>

<html>

<head>
    <title>Learn Math</title>
    <link rel = "icon" href = 
"https://upload.wikimedia.org/wikipedia/commons/a/a3/Arithmetic_symbols.svg" 
        type = "image/x-icon">
    <link rel="stylesheet" href="/WebGL/public/css/style.css"/>
</head>

<body>
    <div class="main-content">
        <header>
            <style scoped>
                .example3:hover {color:orange;}
                .example3:active {text-decoration:none;font-size:200%;font-weight:bold;}
            </style>
            <p class="example3">for the game click below</p>
            <a href="/AKATON/game">The Math</a>
        </header>
        <p>who are we...</p>
    </div>
    <footer>
        <p>Created By Ort Ebin's Group</p>
    </footer>    
    <script src ="../public/js/publisher.js"></script>
</body>

</html>